.login {
    color: #1D191A;
}

.sub {
    background-color: #40BEA9;
    border-color: #40BEA9;
}

.sub:hover {
    background-color: #131313;
    border-color: #131313;
}

.dunno{
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-color: #d2d2d2;
}

#grid-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 15px;
    /*height: calc(100vh - 20px);*/
    margin: 0 10% 0 10%;
    padding-bottom: 20px;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

/* Damit der Button in der Größe nicht Variiert */
.staticButton {
    height: 50px !important;
    max-height: 60px !important;
}

/* FOOTER */
.footerBot {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100px;
}

#verschieben {
    margin-top: -20px
}

table{
   white-space: nowrap;
}

.no_nowrap
{
    white-space: normal;
}

.form-check-input:checked {
    background-color: #40BEA9;
    border-color: #40BEA9;
}




@media only screen and (min-width: 1000px) {
    .sometimes_row{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
    }

    .sometimes_row > * {
        flex-shrink: 0;

        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }

    .searchbar{
        width: 20%;
        height: 2px;
    }

    .raumsearchbar{
        width: 10%;
        height: 2vh;
    }


}

@media only screen and (max-width:1000px) {



    /*tr :not(:first-child):not(:last-child)  {
        display: none;
    }*/

    .gebauede_plan{
        display: none;
    }



}




