/*
 - SmartWorking.exe
 - Author: Julian Grillenmeier
 */

/*style for the website header and navigation*/

header {
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 20px;
}

#logo {
    display: block;
    float: left;
    height: 100px;
}

nav {
    float: left;
    margin-left: 50px;
}