/*
 - SmartWorking.exe
 - Author: Julian Grillenmeier
 */

/*main stylesheet that includes all styles*/

@import "header.css";
@import "footer.css";
@import "main.css";
@import "login.css";

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, serif;
}

a, a:visited {
    color: #00B1AB;
}

body {
    background-color: #D9D9D9;
}

#grid-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 15px;
    /*height: calc(100vh - 20px);*/
    margin: 0 10% 0 10%;
    padding-bottom: 20px;
}